<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="git.install" packageParameters="/NoAutoCrlf /NoShellIntegration"/>
    <package id="python3" version="3.9.0" 
        packageParameters="/InstallDir:C:\Python39-64"
        installArguments="CompileAll=1 PrependPath=1" 
        forceX86="false" />
    <package id="python3" version="3.9.0" 
        packageParameters="/InstallDir:C:\Python39-32"
        installArguments="CompileAll=1 PrependPath=0" 
        forceX86="true" />
    <package id="python2" version="2.7.18"
        packageParameters="/InstallDir:C:\Python27-64"
        forceX86="false" />
    <package id="wget" />
</packages>